/* Inspired by the Youtube tutorial from the channel "Online Tutorials" https://www.youtube.com/watch?v=6YsT2uwZalQ */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");

/* Smiley Face Development */

.smiley
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url("/cursor.png"), pointer;
}

.face
{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(180deg, #f44336, #ffcd00);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

.face:hover
{
    background: #ffcd00;
}


.face:before
{
    content: "";
    position: absolute;
    top: 210px;
    width: 150px;
    height: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #b57700;
    transition: 0.5s;
}


.face:hover:before
{   top: 180px;
    width: 150px;
    height: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background: #9d0b00;
}



.eyes
{
    position: relative;
    top: -40px;
    display: flex;
    flex-wrap: wrap;
}

.eyes .eye
{
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 15px;
    background: #fff;
    border-radius: 50%;
}

.eyes .eye:before
{
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;
}




/* Other Development */
h1, p, footer
{
    text-align: center;
}

*
{
    margin-top: 0px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}